@charset "UTF-8";
/* CSS Document */

.callReadyAlert {
	background: url(../img/call-icon.png) no-repeat 0px 20px;
}
.callReadyAlert h4 {
	color: #999;
	padding-left: 60px;
	line-height: 1.5em;
	text-align: left;
	margin-bottom: 2em;
}
.callReadyAlert .btn-lg {
	padding: 1em 4em;
	font-size: 1.25em;
}