@charset "UTF-8";
/* CSS Document */


/* ========================================================= */
.slider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

    .slider.slider-horizontal {
        width: 260px;
        height: 20px;
    }

        .slider.slider-horizontal .slider-track {
            height: 10px;
            width: 100%;
            margin-top: -5px;
            top: 50%;
            left: 0;
        }

        .slider.slider-horizontal .slider-selection {
            height: 100%;
            top: 0;
            bottom: 0;
            background-color: #62c6f1;
        }

        .slider.slider-horizontal .slider-handle {
            margin-left: -10px;
            margin-top: -5px;
        }

            .slider.slider-horizontal .slider-handle.triangle {
                border-width: 0 10px 10px 10px;
                width: 0;
                height: 0;
                border-bottom-color: #0480be;
                margin-top: 0;
            }

    .slider.slider-vertical {
        height: 210px;
        width: 20px;
    }

        .slider.slider-vertical .slider-track {
            width: 10px;
            height: 100%;
            margin-left: -5px;
            left: 50%;
            top: 0;
        }

        .slider.slider-vertical .slider-selection {
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
        }

        .slider.slider-vertical .slider-handle {
            margin-left: -5px;
            margin-top: -10px;
        }

            .slider.slider-vertical .slider-handle.triangle {
                border-width: 10px 0 10px 10px;
                width: 1px;
                height: 1px;
                border-left-color: #0480be;
                margin-left: 0;
            }

    .slider.slider-disabled .slider-handle {
        background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
        background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
    }

    .slider.slider-disabled .slider-track {
        background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
        background-image: linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0);
        cursor: not-allowed;
    }

    .slider input {
        display: none;
    }

    .slider .tooltip.top {
        margin-top: -36px;
    }

    .slider .tooltip-inner {
        white-space: nowrap;
    }

    .slider .hide {
        display: none;
    }

.slider-track {
    position: absolute;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.slider-selection {
    position: absolute;
    /*background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);*/
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}

.slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3a94a5;
    background-image: -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background-image: linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    filter: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    opacity: 0.8;
    border: 0px solid transparent;
}

    .slider-handle.round {
        border-radius: 50%;
    }

    .slider-handle.triangle {
        background: transparent none;
    }

    .slider-handle.custom {
        background: transparent none;
    }

        .slider-handle.custom::before {
            line-height: 20px;
            font-size: 20px;
            content: '\2605';
            color: #726204;
        }

.rateLabel span {
    margin: 5px 0 0;
    padding: 0;
    line-height: 0;
    font-size: 16px;
    font-family: "Source Sans Pro";
    font-weight: 400;
}

/* ========================================================= */
#updateAccountModal .modal-header {
    background: #fff;
    border-bottom: none;
    height: 45px;
    padding: 0;
}

    #updateAccountModal .modal-header .close {
        color: #06C;
    }

#updateAccountModal .modal-body h2 {
    background: #fff url(../img/upgradeModal_icon.png) no-repeat center top;
    padding-top: 140px;
    margin-bottom: .5em;
}

#updateAccountModal .modal-body p {
    font-size: 1.3em;
    font-weight: 400;
}

#updateAccountModal .nextButton {
    font-size: 1.4em;
    margin-top: .65em;
}

/* ========================================================= */
#paymentInformationModal .modal-header {
    background: #004185;
    border-bottom: none;
}

    #paymentInformationModal .modal-header h4 {
        color: #fff;
        line-height: 2em;
        font-size: 2.2em;
        margin-left: .6em;
    }

#paymentInformationModal .modal-body {
    background: #fff;
    border-bottom: none;
}

#paymentInformationModal button.close {
    color: #fff;
    font-size: 2.4em;
    line-height: 2em;
    margin-right: .4em;
}








input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

    input[type=radio].css-checkbox + label.css-label {
        padding-left: 32px;
        height: 27px;
        display: inline-block;
        line-height: 27px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 20px;
        vertical-align: middle;
        cursor: pointer;
        margin: 0 40px 0 0;
    }

    input[type=radio].css-checkbox:checked + label.css-label {
        background-position: 0 -27px;
    }

label.css-label {
    background-image: url(../img/radioButton.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}













/* ========================================================= */
.contentLawyer {
    float: left;
    margin-bottom: 3em;
    border: solid 1px #CCC;
    background: #F5F5F5;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}


.buttonLawyer {
    color: #f00;
    top: 8px;
    left: -15px;
    position: relative;
}

.dataLawyer {
    color: #818285;
    float: left;
    padding-left: 1em;
    height: 140px;
    margin-bottom: 20px;
}

    .dataLawyer p {
        line-height: 1em;
    }

        .dataLawyer p img {
            margin-right: 10px;
        }

.titleLawyer {
    font-size: 1.4em;
    font-weight: 400;
    text-align: left;
    color: #3F3F41;
    padding-left: 0;
    padding-bottom: 1em;
}
.titleLawyer a{
    color: #3F3F41;
}

.titleButtonLawyer {
    margin: 0 auto;
    width: 18.75%;
}

.imgBot {
    float: left;
    height: 140px;
    margin-bottom: 20px;
}


.imageLawyer {
    float: left;
    width: 120px;
    height: 118px;
}

.imgBot .profileAvailable img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

.imgBot .profileAvailable button {
    position: absolute;
    top: 4.6em;
    left: 27px;
    font-family: "Source Sans Pro" !important;
    background: #62c6f1;
    border: solid 1px #62c6f1;
}

.imgBot .profileUnavailable img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.imgBot .profileUnavailable button {
    position: absolute;
    top: 6.6em;
    left: 40px;
    font-family: "Source Sans Pro" !important;
    background: #818285;
    border: solid 1px #818285;
}

.priceLawyerBox {
    float: right;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 140px;
    margin-bottom: 20px;
}

    .priceLawyerBox .addFavoriteLawyer {
        font-size: 32px;
        line-height: 26px;
        margin: 0;
        padding: 0;
    }

.priceLawyer {
    float: right;
    text-align: center;
    margin-top: 40px;
    margin-right: 0;
}

    .priceLawyer span {
        font-size: 2em;
        font-weight: 600;
    }

.scheduleCallButton {
    padding: 12px 30px;
    border: solid 2px #2365b0;
    background: #f5f5f5;
    color: #2365b0;
    font-weight: 600;
    font-size: .8em;
}

    .scheduleCallButton:hover {
        padding: 12px 30px;
        border: solid 2px #004185;
        background: #f5f5f5;
        color: #004185;
        font-weight: 600;
    }

.noteShareButtons {
    margin-top: 20px;
}

.priceLawyer_noteButton, .priceLawyer_shareButton {
    border: none;
    padding-left: 35px;
}

.priceLawyer_noteButton {
    background: #f5f5f5 url(../img/priceLawyer_noteButton.jpg) no-repeat center left;
    border: none;
    margin: 0 5px;
    color: #2365b0;
}

    .priceLawyer_noteButton:hover {
        background: #f5f5f5 url(../img/priceLawyer_noteButton.jpg) no-repeat center left;
        border: none;
        margin: 0 5px;
        color: #004185;
    }

.priceLawyer_shareButton {
    background: #f5f5f5 url(../img/priceLawyer_shareButton.jpg) no-repeat center left;
    border: none;
    margin: 0 10px;
    color: #2365b0;
}

    .priceLawyer_shareButton:hover {
        background: #f5f5f5 url(../img/priceLawyer_shareButton.jpg) no-repeat center left;
        border: none;
        margin: 0 10px;
        color: #004185;
    }

/* */
.addFavoriteLawyer {
    background: #f5f5f5 url(../img/favLawyer_addIcon.png) no-repeat center center;
    border: solid 1px #cfcfcf;
    width: 26px;
    height: 26px;
    float: right;
    border-radius: 20%;
}

    .addFavoriteLawyer:hover {
        background: #cfcfcf url(../img/favLawyer_addIcon_hover.png) no-repeat center center;
        border: solid 1px #cfcfcf;
    }

    .addFavoriteLawyer.lawyerFavorited {
        background: #004185 url(../img/favLawyer_favtdIcon.png) no-repeat center center;
        border: solid 1px #004185;
    }

        .addFavoriteLawyer.lawyerFavorited:hover {
            background: #2365b0 url(../img/favLawyer_deltIcon.png) no-repeat center center;
            border: solid 1px #2365b0;
        }

/* */

.loadingMoreIndicator {
    color: #2365b0;
    font-size: 1em;
    font-weight: 400;
}


.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
