@charset "UTF-8";
/* CSS Document */


/* Footer */


#footer {
	background: #191919;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 50px 0 0;
	color: #fff;
	min-height: auto;
	border-top: solid 1px #131313;
}
#footer container a {
	color:#c0c0c0;
}

#footer container a:hover {
	color:#fff;
}
.titleSocial {
	text-align: center;
	color:#fff;
	font: 300 1.1em "Source Sans Pro";
}
#socialIcons {
	width:100%;
	text-align: center;
}
#socialIcons a {
	text-decoration: none;
	color: #fff;
}
.lastLinks {
	padding-left: 15px;
}
.legalLinksBox {
	margin-top: 1.5em;
}
.menuFooter li {
	padding-bottom: 10px;
}
.menuFooter li a:link, .menuFooter li a:visited {
	color: gray;
	text-decoration:none;
	font: 300 1.1em "Source Sans Pro";
}
.menuFooter li a:hover, .menuFooter li a:active {
	color:#fff;
	text-decoration:none;
}
.lastLinks a {
	display: inline-block;
	color:gray;
	padding-left: 1.5em;
	font: 300 1.1em "Source Sans Pro";
}
.lastLinks a:link, .lastLinks a:visited {
	display: inline-block;
	color:# gray;
	text-decoration:none;
}
.lastLinks a:hover, .lastLinks a:active {
	display: inline-block;
	color:#fff;
	text-decoration:none;
}