@charset "UTF-8";
/* CSS Document */


/* Extra small devices (phones, less than 768px) */
@media(max-width:767px){

.overlayContainer {
    width: 100%;
		min-height: 360px;
		background: #e3e3e3;
}
.overlayContent {
    width: 100%;
    position: absolute;
		margin: 0;
		border: 0;
    top: 0;
    left: 0;
    z-index: 1;
	padding: 30px 0 0;
}
.overlayContent #lawSimpler {
	margin: -40px auto 0;
}

.overlayContent #lawSimpler2 {
	display: none;
}
#howWorks {
	margin-top: 300px;
}
.overlayBackground {
	display: none;
}
.overlayBackground .mejs-container .mejs-controls {
	visibility:hidden !important;
}

}



/* Small devices (tablets, 768px and up) */
@media(min-width:768px){

.overlayContainer {
    width: 100%;
		min-height: 480px;
		background: #e3e3e3;
}
.overlayContent {
    width: 100%;
    position: absolute;
		margin: 0;
		border: 0;
    top: 0;
    left: 0;
    z-index: 1;
	padding: 30px 0 0;
}
.overlayContent #lawSimpler {
	margin: -40px auto 0;
}

.overlayContent #lawSimpler2 {
	display: none;
}
#howWorks {
	margin-top: 160px;
}
.overlayBackground {
	display: none;
}
.overlayBackground .mejs-container .mejs-controls {
	visibility:hidden !important;
}

}


/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){

.overlayContainer {
    width: 100%;
		min-height: 840px;
		background: #e3e3e3;
}
.overlayContent {
    width: 100%;
    position: absolute;
		margin: 0;
		border: 0;
    top: 0;
    left: 0;
    z-index: 1;
}
.overlayContent #lawSimpler2 {
	height: 577px;
	margin: -30px auto 0;
	width: 100%;
	position: relative;
	padding: 100px 0 0;
	background-color: rgba(0,51,121,0.85);
}
.overlayBackground {
    width: 100%;
    height: auto;
    position: absolute;
		margin: 0 auto;
		border: 0;
    top: 0;
    left: 0;
    z-index: 0;
		max-width: 100%;
}
.overlayBackground .mejs-container .mejs-controls {
	visibility:hidden !important;
}
#howWorks {
	margin-top: 0;
}


}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){

.overlayContainer {
    width: 100%;
		min-height: 860px;
		background: #e3e3e3;
}
.overlayContent {
    width: 100%;
    position: absolute;
		margin: 0;
		border: 0;
    top: 0;
    left: 0;
    z-index: 1;
}
.overlayContent #lawSimpler2 {
	height: 871px;
	margin: -40px auto 0;
	width: 100%;
	position: relative;
	padding: 100px 0 0;
	background-color: rgba(0,51,121,0.85);
}
.overlayBackground {
    width: 100%;
    height: auto;
    position: absolute;
		margin: 0 auto;
		border: 0;
    top: 0;
    left: 0;
    z-index: 0;
		max-width: 100%;
}
.overlayBackground .mejs-container .mejs-controls {
	visibility:hidden !important;
}

}
