@charset "UTF-8";
/* CSS Document */

#hourlyRatePanel {
	border: solid 2px #004185;
	text-align: center;
}
#hourlyRatePanel .panel-footer {
	background: #004185;
	color: #fff;
	border-top: none;
	font-size: 1.1em;
}
#hourlyRatePanel .panel-footer:hover {
	background: #2365b0;
	color: #fff;
}
#hourlyRatePanel .panel-footer a {
	color: #fff;
	text-decoration: none;
}
#hourlyRatePanel .hourlyRate {
	float: left;
	font-size: 3em;
	line-height: 1em;
	margin-left: 1em;
	font-weight: 700;
	padding-bottom: 0;
}
#hourlyRatePanel .hourlyRate .hourlyRateLabel {
	float: right;
	position:relative;
	font-size: .42em;
	line-height: 1em;
	width: 2em;
	margin-left: .8em;
	margin-top: .2em;
	color: #818185;
	font-weight: 300;
}

.lawyerImage img {
	float: left;
}
.lawyerImage .lawyerDetailsInfo  {
	float: left;
	margin-left: 20px;
}

.lawyerImage h4 {
	margin: 0 0 0 105px;
	padding: 0;
	line-height: 1em;
	color: #3F3F41;
}


.lawyerDetailsInfo {
	margin-top: 10px;
	margin-right: 50px;
}
.lawyerDetailsInfo p {
	margin-bottom: 0;
	color: #8b8b8b;
}
.lawyerLabel {
	background: url(../img/icon1.png) no-repeat center left;
	padding-left: 25px;
}
.practiceLabel {
	background: url(../img/icon2.png) no-repeat center left;
	padding-left: 25px;
}
.jurisdictionLabel {
	background: url(../img/icon3.png) no-repeat center left;
	padding-left: 25px;
}
.lawSocietyLabel {
	background: url(../img/icon4.png) no-repeat center left;
	padding-left: 25px;
}
.expirationDateLabel {
	background: url(../img/icon5.png) no-repeat center left;
	padding-left: 25px;
}
.joinedLabel {
	background: url(../img/icon6.png) no-repeat center left;
	padding-left: 25px;
}
.locationLabel {
	background: url(../img/icon7.png) no-repeat center left;
	padding-left: 25px;
}


.addToFavouritesButton {
	border: solid 2px #2365b0;
	/*background: #fff url(../img/icon-favourites.png) no-repeat 15px center;*/
	color: #2365b0;
	text-align: center;
	/*padding-left: 40px;*/
}
.addToFavouritesButton:hover {
	border: solid 2px #004185;
	color: #004185;
	/*text-align: left;*/
}



.shareLawyerButton {
	border: solid 2px #2365b0;
	/*background: #fff url(../img/icon-share.png) no-repeat 40px center;*/
	color: #2365b0;
	text-align: center;
	/*padding-left: 75px;*/
}
.shareLawyerButton:hover {
	border: solid 2px #004185;
	/*background: #fff url(../img/icon-share.png) no-repeat 40px center;*/
	color: #004185;
}

