
.box-gray {
	margin: 20px 0;
}

.box-gray .col-md-12 {
	background: #f5f5f5;
	border: 1px solid #f9f9f9;
	padding:15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.box-gray .col-md-12 h2 {
	color:#043E7D;
}

.box-gray .nav-pills li {
	margin-right: 7px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
}

.box-gray .nav>li>a {
	padding: 10px 20px!important;
	font-size:1em;
	color:#fff;

}
.box-gray .nav>li>a:hover {
	background: #004185!important;}

.filter-issues {
	margin:0;
	padding-bottom: 5px;
	/*border-bottom: 1px solid #c9c9c9;*/
}

.issues h3, {
	margin: 0!important;
	padding: 0!important;
}

.issues h3 {
	line-height: 1em;
	width: 50%;
	float:left;
}
 
.sort-by{
	font-size: 1.2em;
	width: 100px; float: left;
}

.btn-group {
	float:right;
}
.dropdown-menu {
	right:0!important;
}
.dropdown-menu li a {
	font-size: 14px!important;
}
.box-gray .buttons-edit{
	margin-bottom:15px;
	width: 50%px;
	float: right;
}

.buttons-details {
	margin: 25px 0;
}

.box-gray .buttons-edit .nav-pills>li{
	font-size: 1.3em;
	margin-right: 20px;

}
.box-gray .buttons-edit li {
	background: none!important;
	color:#999!important;
	font-weight: 400;
	
}
.box-gray .buttons-edit li i {
	margin-right: 7px;
}
.box-gray .buttons-edit li a {
	color:#043E7D;
	padding:0!important;
	display:inline!important;
}
.box-gray .buttons-edit li a:hover {
	background: none!important;
	color:#043E7D;
	padding:0!important;
}
.dropdown-toggle {
	background: #ccc;
}

.modal-body .btn-group {
	width: 100%;
	float: none;
}
.buttons-details button {
	padding: 9px 20px;
}

.modal-body .btn-group .btn{
	width: 94%;
}
.modal-body .btn-group .dropdown-toggle{
	width: 5%;
}

.save-matter {
	margin: auto;
	padding:20px 100px;
	font-size: 18px;
}

.clear {clear:both;}





.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #004185;
}


/*
 * Matters styles
 * -------------------------------------------------- */

.matter-header {
    margin-bottom: 20px;
}


.matter-description {
    margin-bottom: 40px;
}



/*
 * Generic Issues list with date and actions.
 * -------------------------------------------------- */

.issues {
    margin-bottom: 20px;
}

.issues h5 {
    line-height: 120%;
    margin: 0px;
    font-size: 1.2em;
}

.issues .list-items > li {
    background-color: #f7f7f7;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px 20px;

}




@media(max-width:320px){
	.btn-primary.nextButton {
		padding:10px 50px;
	}
	.box-gray .nav-pills li {
		margin-bottom: 5px;
		float: none;
	}
}