.inbox {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #eee;
    min-height: 600px;
}

.inbox h3 {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 0px;
}

.inbox .inbox-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inbox .inbox-items {
//*border-top: 1px solid #ddd;*/

}

.inbox .inbox-items li {
    padding: 15px 0 15px 60px;
    position: relative;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.inbox .inbox-items li:last-child {
    border-bottom: 0;
}

.inbox .inbox-items li:hover {
    color:#004185;
    background-color: #eeeeee;
}

.inbox .inbox-items .from {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.inbox .inbox-items .user-photo {
    width: 40px;
    position: absolute;
    left:10px;
}

.inbox .inbox-items .last-message-datetime {
    position: absolute;
    right: 10px;
    color: #999;

}

.inbox .inbox-items .full-date {
    background-color: #fff;
    padding-left: 4px;
}

.inbox .inbox-items .from {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 50px;
}

.inbox .inbox-items .message-abstract {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}


/* Unread messages */

.inbox .inbox-items .unread {
    color: #275e98;
    font-weight: bold;
}


/* Selected messages */

.inbox .inbox-items .selected {
    background-color: #eeeeee;
    color: #275e98;
    /* font-weight: bold; */
}


/* The message list */

.conversation {
    border: 1px solid #eee;
    border-radius: 4px;


}

.conversation .message-head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 20px 0 20px 80px;
    border-bottom: 1px solid #eee;
    position: relative;
    cursor: pointer;
    min-height: 70px;
    background-color: #275e98;
    color: #fff;
}

.conversation .message-head .user-photo {
    width: 50px;
    position: absolute;
    left:20px;
}

.conversation .message-head .from {
    font-weight:bold;
    font-size: 18px;

}

.conversation .message-head  .last-message-datetime {
    position: absolute;
    right: 20px;

}

.conversation .message-body {
    padding: 20px;
    background-color: #fff;
}

.conversation .message-actions {
    padding: 0 15px 15px;
    background-color: #fff;
}



/* Replies */

.replies {
    background-color: #fff;
    padding: 0 20px;
}

.replies h3 {
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.replies .reply {

    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}


.replies .reply:last-child {
    border-bottom: none;
}

.replies .reply .reply-head {
    position:  relative;
    padding-left: 50px;
    min-height: 50px;
}

.replies .reply-head .from {
    font-weight: bold;
    color: #222;
}

.replies .reply-head .user-photo {
    width: 40px;
    position: absolute;
    left:0px;
}

.replies .reply-head .last-message-datetime {
    position: absolute;
    right: 0px;
     color:#999;
}


.replies .reply-message {
    padding-left: 50px ;
}


.add-new-message {
    background-color: #ccc;
    position: relative;
    min-height: 40px;
    padding:10px 150px 10px 10px
}

.add-new-message button {
    top: 10px;
    right: 20px;
    position: absolute;
}

.add-new-message input {


}



/* Medium devices (desktops, 992px and up) */
@media (max-width: 320px) {

    .conversation .message-head  .last-message-datetime {
        position: relative;
        right: 0;
    }

    .replies .reply-head .last-message-datetime {
        position: relative;
        right: 0;
        color:#999;
    }


    .add-new-message {
        background-color: #ccc;
        position: relative;
        min-height: 40px;
        padding:10px 10px;
        margin-bottom: 10px;
    }

    .add-new-message button {

        right: 00px;
        position: relative;
    }

}