/*
 * Styles for resources pages.
 * Categories, list of resources and view resource.
 *
 * -------------------------------------------------- */

/*
 * Section Categories
 * -------------------------------------------------- */

#legalResources .well {
    border: 0;
    padding: 30px 60px;
    border-radius: 4px; */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#legalResources #search-resources-form {
    margin-bottom: 20px;
}

/* Categories Styles */
#resources-categories .category {
    margin-bottom: 2em;
}

#resources-categories .category h4 {
    margin-bottom: 0;
    line-height: 1.3em;
    position: relative;
    padding-left: 40px;
}

#resources-categories .category .icon {
    position: absolute;
    left: 0;
    width: 34px;
    height: 34px;
}

#resources-categories .category .icon img {
    position: relative;
    top:-5px
}

/* Disclaimer message. */
.resourcesDiscaimer {
    padding: 50px 0;
}




/*
 * List of items.
 * -------------------------------------------------- */

.resources-list {

}

.resources-list .articleResume {
    margin-bottom: 40px;
}

.resources-list h4 {
    line-height: 1.2em;
    padding: 0;
}

.resources-list .meta {
    font-size: 16px;
    color: #8B8B8C
}

.resources-list .meta .date {
    margin-right: 25px;
}




/*
 * Article details
 * -------------------------------------------------- */

#articleDetail {
    margin-bottom: 80px
}

#articleDetail .article-body {
    padding-right: 80px;
}

#articleDetail .meta {
    padding-top: 40px;
    font-size: 16px;
    color: #8B8B8C;
    margin-bottom: 40px;
}


#articleDetail .meta .category,
#articleDetail .meta .date{
    margin-right: 25px;
}




