@charset "UTF-8";

/* Import Header */
@import url("lawyerDetails.css");

.nextPrevButtons button {
	background: #2365b0;
	border: solid 1px #fff;
	width: 8em;
	color: #fff;
	height: 3em;
}
.nextPrevButtons button:hover {
	background: #004185;
	border: solid 1px #fff;
	width: 8em;
	color: #fff;
}

.timesBox {
	border: solid 1px #e2e2e2;
	border-radius: 10px;
	margin: 20px 0 40px;
}
.daySchedule h4 {
	margin-bottom: 0;
	line-height: 1.1em;
    padding-top:15px;
}
.daySchedule p {
	margin-top: 0;
}
.daySchedule .btn-default {
	border: solid 2px #e2e2e2;
	background: #fff;
	color: #2365b0;
	width: 5.5em;
	margin-bottom: 4px;
}
.daySchedule .btn-default:hover {
	border: solid 2px #2365b0;
	color: #2365b0;
}
.daySchedule .hourReserved {
	border: solid 2px #2365b0;
	background: #2365b0;
	color: #fff;
	width: 5.5em;
	margin-bottom: 4px;
}
.daySchedule .btn-default:hover {
	border: solid 2px #2365b0;
	background: #fff;
	color: #2365b0;
	width: 5.5em;
	margin-bottom: 4px;
}
.daySchedule .hourNoAvailable, .daySchedule .hourNoAvailable:hover {
	border: solid 2px #e2e2e2;
	background: #e2e2e2;
	color: #fff;
	width: 5.5em;
	margin-bottom: 4px;
}
.daySchedule .hourReserved:hover {
	border: solid 2px #2365b0;
	background: #2365b0;
	color: #fff;
	width: 5.5em;
	margin-bottom: 4px;
}
.daySchedule {
border-left: 1px solid #eee;
}