/*
 * Solvere UI Components
 * Contain styles of generic componentes in the project.
 * Like lists, menus that are not used just in a specific.
 * section of the webapp.
 *
 * -------------------------------------------------- */


/*
 * Modals Global Settings
 * -------------------------------------------------- */
#notifyModal .modal-body .close{
        color:#666;
    }
    #notifyModal{
        height: 160px;
    }
.modal-dialog .modal-header {
    background: #004185;
}

.modal-dialog .modal-header h4 {
    color: #fff;
    line-height: 2em;
    font-size: 2.2em;
    margin-left: .6em;
}

.modal-dialog button.close {
    color: #fff;
    font-size: 2.4em;
    line-height: 2em;
    margin-right: .2em;
}





/*
 * Breadcrumbs
 * -------------------------------------------------- */

.breadcrumb {
    background-color: #fff;
}

.breadcrumb  + h1 {
    margin-top: 0;
    margin-bottom: 0;
}



/*
 * Headings Helpers
 * -------------------------------------------------- */

.heading-separator {
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 20px;
    overflow: auto;
}

.heading-separator h3 {
    line-height: normal;
}


/*
 * Metadata
 * -------------------------------------------------- */

.meta {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    color: #8B8B8C;
}

.meta.small-line {
    padding: 6px 0 !important;
    margin: 0 !important;
}


.meta .data {
    margin-right: 25px;
}

/* Change the view to a vertical list */
.meta.vertical span {
    display: block;
    margin-bottom: 10px;
}


/*
 *   Action links
 * -------------------------------------------------- */

.actions-links.list-inline {
    margin: 0;
    padding: 0;
}

.actions-links li a {
    font-size: 16px;
}

.actions-links li a i {
    color: #999
}



/*
 *   Set of big buttons with primary actions.
 *   Horizontal view.
 * -------------------------------------------------- */

.btn-group-default {}

.btn-group-default a {
    padding: 10px 20px;
    font-weight: 300;
    font-size: 16px;
    margin-right: 10px;
}



/*
 *   Primary content user actions
 *   Used in the header area related with the main
 *   content. Eg. Add to favorites, Shares buttons.
 * -------------------------------------------------- */

.content-primary-actions {
    margin-top: 80px;
}


.content-primary-actions a {
    border-radius: 4px;
    border: 2px solid #355ba2;
    color: #355ba2;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    min-width: 180px;
}



.content-primary-actions a:hover {
    background-color: #fefefe;
}

.content-primary-actions a i {
    color: #999;
    margin-right: 10px;
}







/*
 * Generic User Notes list with date and actions.
 * -------------------------------------------------- */

.user-notes {
    margin-bottom: 20px;
}

.user-notes h5 {
    line-height: 120%;
    margin: 0px;
    font-size: 1.2em;
}

.user-notes .list-items > li {
    margin-bottom: 15px;
    border-radius: 5px;
}

.user-notes .list-items.darkness-items {

}

.user-notes .list-items.darkness-items > li {
    margin-bottom: 10px;
    background-color: #f7f7f7;
    padding: 15px 20px;
}




/*
 * File uploader container.
 * -------------------------------------------------- */

.file-upload-container {
    margin: 10px 0;
    background-color: #fff;
    border:1px solid #c9c9c9;
    border-radius: 4px;
    padding: 15px;

}

.file-upload-container h3 {
    margin:0 0 20px;
    padding: 0;
    line-height: 100%;
}

.file-upload-container .file-field {
    margin-bottom: 20px;
}




/*
 * List of files on matters.
 * -------------------------------------------------- */

.list-of-files {
    font-size: 1.2em;
}

.list-of-files .divisor {
    padding: 0 15px;
    color: #ccc;

}



/*
 *   Action links
 * -------------------------------------------------- */

.actions-links.list-inline {
    margin: 0;
    padding: 0;
}

.actions-links li a {
    font-size: 16px;
}

.actions-links li a i {
    color: #999
}




/*
 *   Set of big buttons with primary actions.
 *   Horizontal view.
 * -------------------------------------------------- */

.btn-group-default {}

.btn-group-default li {

}

.btn-group-default a {
    padding: 10px 20px;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}




/* Used for primary action on modal windows. */
.btn-super-lg {
    padding: 20px 16px;
    font-size: 20px;
    line-height: 1.33;
    border-radius: 6px;
    min-width: 290px;
}




/*
 *   Primary content user actions
 *   Used in the header area related with the main
 *   content. Eg. Add to favorites, Shares buttons.
 * -------------------------------------------------- */

.content-primary-actions {
    margin-top: 80px;
}


.content-primary-actions a {
    border-radius: 4px;
    border: 2px solid #355ba2;
    color: #355ba2;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    min-width: 180px;
}



.content-primary-actions a:hover {
    background-color: #fefefe;
}

.content-primary-actions a i {
    color: #999;
    margin-right: 10px;
}




/*
 *   Share buttons
 *
 * -------------------------------------------------- */

.btn-share-facebook,
.btn-share-twitter {
    font-size:18px;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.btn-share-facebook {
    background-color: #3b5998;
}

.btn-share-twitter {
    background-color: #00aced;
}




/*
 *   Share buttons
 *
 * -------------------------------------------------- */

.documents-not-found {
    padding: 25px 50px;
    text-align: center;
}

.documents-not-found .message {
    border-radius: 6px;
    display: inline-block;
    font-size: 22px;
    border: 1px solid #999;
    padding: 15px 30px;
}




/*
 *   Notifications
 *   This popups not include title bar.
 * -------------------------------------------------- */

.modal .notifications {
    padding: 25px 50px;
}

.modal .notifications .modal-body {
    padding: 25px;
}

.modal .notifications button.close {
    color:#999;
}




/*
 *   Panel
 *   Custom panels
 * -------------------------------------------------- */

.panel {
    margin-bottom: 30px;
}

.panel .panel-heading h2 {
    margin: 10px 0 10px;
    padding: 0;
    line-height: 120%;

 }


.panel.panel-bordered {
    border: 1px solid #ddd;
}

.panel .panel-body .nav-pills {
    padding: 15px;
    font-size: 16px;
}



/*
 *   List of links
 *
 * -------------------------------------------------- */

.list-of-links {

}

.list-of-links a {
    font-size: 16px;

}



/*
 *   Tables
 *
 * -------------------------------------------------- */

.table tr td,
.table tr th {
    font-size: 17px;

}

.table tr th {
    font-size: 1.35em
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    background-color: #2365b0;
    color: #fff;
}


.table-filters {
     overflow: hidden;
     padding: 10px;
}


.table-filters .form-horizontal .control-label {
    text-align: left;
}




/*
 *   History Component.
 *
 * -------------------------------------------------- */

.history .activity-record {
    font-size: 1.2em;

}

.history .activity-date {
    background-color: #89B9EB;
    border-radius: 4px;
    text-align: center;
    padding: 10px 5px;
    margin: 0px 14px;
    z-index: 5;
    position: relative;
    color: #fff;
}


.history .activity-info {
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 20px;
}


.history .timeline {
    height: 100%;
    border-left: 1px solid #B7BBC1;
    position: absolute;
    margin-left: -130px;
    z-index: 1;
}


.history .history-filter {
    margin-bottom: 20px;
}


/*
 *   HELPERS.
 *   Include classes for help to design the layout like
 *   spacers, extra margins, etc.
 * -------------------------------------------------- */

.margin-button-small {
    margin-bottom: 20px;
}


.margin-button-medium {
    margin-bottom: 40px;
}
.dropdown-username a{
    color:#333 !important;
}
.dropdown-username li{
    padding:0 !important;
}
.dropdown-username a:hover{
    background-color:#004185 !important;
    color:#fff !important;
}