@charset "UTF-8";
/* CSS Document */

/* Global font sityle */
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/Montserrat-Regular-webfont.eot');
    src: url('../fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/Montserrat-Regular-webfont.woff') format('woff'),
url('../fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
url('../fonts/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/Montserrat-Bold-webfont.eot');
    src: url('../fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/Montserrat-Bold-webfont.woff') format('woff'),
url('../fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
url('../fonts/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, p {
	color:#404041;
	font-family: "Source Sans Pro";
	font-weight:300;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
  margin: 0 auto;
	/* Pad bottom by footer height */
  padding: 0 0;
}
#wrap > .container {
	padding: 60px 15px 0;
}
/* Navigation */
#topNav {
	z-index:-1;
}
#nav {
	width: 100%;
}
#nav.affix-top {
	position: absolute;
	top:0;
	left:0;
	z-index:10;
	height:auto;
	background-color: transparent;
	border:0;
}
#nav.affix-top .navbar-nav {
	background-color: #0c4185;
}
#nav.affix {
	position: fixed;
	top: 0;
	z-index:10;
	-webkit-transition: all .6s ease-in-out;
}
.navbar-inverse {
	background-color: transparent;
	border-bottom: 1px transparent;
}
.navbar-inverse .navbar-nav li a:link, .navbar-inverse .navbar-nav li a:visited {
	color: #a5afd2;
	background: transparent;
	font-family: "Source Sans Pro";
	font-weight:400;
	font-size: 1.1em;
}
.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:active {
	color: #fff;
	background: transparent;
}
.navbar-inverse .navbar-nav li.active a {
	color: #fff;
	background: transparent;
}
.navbar-inverse .navbar-nav li.active a:hover, .navbar-inverse .navbar-nav li.active a:active {
	color: #fff;
	background: transparent;
}
.navbar-inverse .navbar-brand img {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}
.navbar-inverse .navbar-nav li {
	padding-top: 9px;
	padding-bottom: 0;
}
.navbar-inverse .navbar-nav li.navButton {
	margin-left: 30px;
	padding-top: 15px;
	padding-bottom: 0;
}
.navbar-toggle {
	background: #0c4185;
	border: none;
}
.navbar-toggle:hover {
	background: #0c4185;
}

/* */
@media (min-width: 767px) {
.navbar-nav.nav-justified > li {
	float:none;
}
}
.navbar-nav {
	margin: 1px 1px;
}
.navbar-toggle {
	outline:0;
}
.divider {
	height:50px;
}
.panel {
	border-width:0;
}

/* Call-to-action buttons Box*/

.actionButtons {
	text-align: center;
	margin-top: 1em;
}

/* Section blocks */

header {
	height:100%;
	min-height:auto;
	outline: solid 1px red;
}
#lawSimpler {
	background: #004185;
	margin: 0 auto;
	width: 100%;
	height: 640px;
	position: absolute;
	padding: 0;
	min-height: auto;
	z-index: 3;
}

#colorCourtain {
	width: 100%;
	height: 640px;
	position: absolute;
	z-index: 2;
	background: #00f;
	opacity: .5;
	margin:0;
	padding:0;
}
#videoBackground {
	width: 100%;
	height: 640px;
	position: absolute;
	z-index: 1;
	margin:0;
	padding:0;
	opacity: .5;
}





#howWorks {
	background: #e3e3e3;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 180px 0 130px;
	min-height: auto;
}
#meetLawyers {
	background: #fff;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 130px 0 120px;
	color: #fff;
	min-height: auto;
}
#legalInformation {
	background: #d93f33 url(../img/bkg_section4.jpg) 50% 0 fixed;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 130px 0;
	min-height: auto;
}
#solvereScoop {
	background: #fff;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	color: #fff;
	padding: 100px 0;
	min-height: auto;
}
#allSet {
	background: #818285 url(../img/bkg_section6.jpg) 50% 0 fixed;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 100px 0;
	color: #fff;
	min-height: auto;
}
#footer {
	background: #191919;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 50px 0 0;
	color: #fff;
	min-height: auto;
	border-top: solid 1px #131313;
}
/* Sections headings and paragraphs */
#lawSimpler h3, #legalInformation h3, #allSet h3, #footer h3 {
	color: #fff;
	text-align: center;
	text-transform:uppercase;
	font: bold 3.8em montserratbold;
}
#howWorks h3 {
	color: #004185;
	text-align: center;
	text-transform:uppercase;
	font: bold 3.65em montserratbold;
	display: inline-block;
}
#howWorks h3 span {
	color: gray;
	font: 300 0.2em "Source Sans Pro";
}
#howWorks h3 span .btn-learnMore {
	margin-top: 12px;
}
#solvereScoop h3 {
	color: #004185;
	text-align: center;
	text-transform:uppercase;
	font: bold 3.65em montserratbold;
	display: inline-block;
}
#solvereScoop h3 span {
	color: gray;
	font: 300 0.2em "Source Sans Pro";
}
#solvereScoop h3 span .btn-learnMore {
	margin-top: 12px;
}
#meetLawyers h3 {
	color: #004185;
	text-align: center;
	text-transform:uppercase;
	font-family: montserratbold;
}
section p {
	font-family: "Source Sans Pro";
}
#lawSimpler p.lead {
	font: 300 2.4em/1.6em "Source Sans Pro";
	margin-bottom: 1.5em;
	color: #a5afd2;
}
#legalInformation p.lead {
	color: #fff;
	font: 300 2.3em/1.6em "Source Sans Pro";
}
#allSet p.lead {
	color: #bababa;
	font: 300 2.2em/1.6em "Source Sans Pro";
}
#footer p.lead {
	color: #fff;
	font: 300 1.8em/1.6em "Source Sans Pro";
}
#howWorks p.lead {
	color: gray;
	font: 300 2.4em/1.6em "Source Sans Pro";
}
#meetLawyers p.lead {
	color: gray;
	font: 300 2.4em/1.6em "Source Sans Pro";
}
.input-group input {
	font: 300 1.4em "Source Sans Pro";
	padding: 20px 10px;
  -webkit-border-radius: 0em;
	-moz-border-radius: 0em;
	border-radius: 0em;
}
.input-group .legalInfoSearch {
	background: #2365b0;
	font: 300 1.4em "Source Sans Pro";
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 4px 25px;
	
}


.input-group .legalInfoSearch:link, .input-group .legalInfoSearch:visited {
	background: #2365AF !important;
}
.input-group .legalInfoSearch:hover, .input-group .legalInfoSearch:active {
	background: #004185 !important;
}

#solvereScoop p.lead {
	color: gray;
	font: 300 2.4em/1.6em "Source Sans Pro";
}
#solvereScoop p.quoteHeading {
	color: #3f3f41;
}
/*  */
.btn-navJoin, .btn-navLogin {
	background: transparent;
	color: #a5afd2;
	border: solid 2px #a5afd2;
	margin: 0 -5px;
	font-size: 1.05em;
}
.btn-navJoin:hover, .btn-navJoin:focus, .btn-navJoin:active, .btn-navJoin.active, .btn-navLogin:hover, .btn-navLogin:focus, .btn-navLogin:active, .btn-navLogin.active {
	background: transparent;
	color: #fff;
	border: solid 2px #fff;
}
.btn-joinSolvere {
	padding: 20px 48px;
	background: #d93f33;
	color: #fff;
	font: 400 1.5em "Source Sans Pro";
}
.btn-joinSolvere:hover, .btn-joinSolvere:focus, .btn-joinSolvere:active, .btn-joinSolvere.active, .open .dropdown-toggle.btn-joinSolvere {
	background-color: #C3271B;
	border-color: #C3271B;
	color: #fff;
}
.btn-learnMore {
	padding: 8px 15px;
	font-size: 1.4em;
	background: none;
	color: #a5afd2;
	border: solid 2px #a5afd2;
}
.btn-seeMore {
	padding: 8px 15px;
	font-size: 1.4em;
	background: none;
	color: #2365AF;
	border: solid 2px #2365AF;
}
.btn-learnMore:hover, .btn-learnMore:focus, .btn-learnMore:active, .btn-learnMore.active, .open .dropdown-toggle.btn-learnMore {
	color: #004185;
	border: solid 2px #004185;
}
.btn-seeMore:hover, .btn-seeMore:focus, .btn-seeMore:active, .btn-seeMore.active, .open .dropdown-toggle.btn-seeMore {
	color: #004185;
	border: solid 2px #004185;
}

/* Introduction video */
#introVideoBox {
	padding: 0;
	margin-top: 8em;
}
#introVideo {
		border: solid 1px #333;
		-webkit-box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    0px 0px 20px 5px rgba(50, 50, 50, 0.5);
		box-shadow:         0px 0px 20px 5px rgba(50, 50, 50, 0.5);
		background-color: transparent;	
		z-index: 3;
}
.video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px}

/* Big Play Button */
.vjs-default-skin .vjs-big-play-button {
	left: -.25em;
	top: -.25em;
	font-size: 5em;
	width: 2.2em;
	height: 2.2em;
	padding-bottom: 1em;
	display: none;
	/* Need a slightly gray bg so it can be seen on black backgrounds */
  /* background-color-with-alpha */
  background-color: #07141e;
	background-color: rgba(7, 20, 30, 0.7);
	border: 0.07em solid #3b4249;
	/* border-radius */
  -webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	/* box-shadow */
  -webkit-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
	-moz-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
	box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
	/* transition */
  -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
/* Optionally center */
.vjs-default-skin.vjs-big-play-centered .vjs-big-play-button {
	/* Center it horizontally */
  left: 50%;
	margin-left: -1em;
	/* Center it vertically */
  top: 50%;
	margin-top: -1em;
	
}

/*  */
section#howWorks .col-md-4 h3 {
	color: #ccc;
}

.howWorksSteps .workSteps {
	margin: 0;
}
.workSteps.step1 {
	background: url(../img/worksThumb01.png) no-repeat center center;
	width: 300px;
	height: 310px;
	text-align: center;
}
.workSteps.step2 {
	background: url(../img/worksThumb02.png) no-repeat center center;
	width: 300px;
	height: 310px;
	text-align: center;
}

.workSteps.step3 {
	background: url(../img/worksThumb03.png) no-repeat center center;
	width: 300px;
	height: 310px;
	text-align: center;
}

.workSteps h3 {
	font-family: "monteserratbold";
	font-weight:400;
	color: #ccc !important;
	font-size: 3.4em !important;
	margin: 20px 0 10px !important;

}
.workSteps p.lead {
	font: 300 1.3em "Source Sans Pro" !important;
	width: 240px !important;
	margin: 0 20px !important;
	padding: 0 !important;
	text-align: center !important;
}
/*  */
.contentLawyer{
    float: left;
    margin-bottom: 3em;
}
.buttonLawyer {
	color: #f00;
	z-index: 1000;
}
.dataLawyer{
    color:#818285;
    float: left;
    padding-left:1em;
}
.dataLawyer p{
    line-height: 1em;
}
.dataLawyer p img{
	margin-right: 10px;
}
.titleLawyer{
    font-size: 1.4em;
		font-weight: 400;
    text-align: left;
    color:#3F3F41;
    padding-left:0;
    padding-bottom: 1em;
}
.titleButtonLawyer{
		margin: 0 auto;
		width:18.75%;      
}
.imgBot{
    float: left;
}
.imageLawyer{
  float:left;
  width:120px;
	height:118px;
}
.imgBot .contactAvailable img {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}
.imgBot .contactAvailable button {   
	position: absolute;
	top: 6.5em;
	left: 35px;
	font-family: "Source Sans Pro" !important;
}

.imgBot .contactUnavailable img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
.imgBot .contactUnavailable button {   
	position: absolute;
	top: 6.5em;
	left: 25px;
	font-family: "Source Sans Pro" !important;
}

/*Carousel*/
.item {
	text-align: center;
	height: 100%;
}
.carousel {
	margin-top: 20px;
}
.bs-example {
	margin: 20px;
}
#myCarousel {
	height:100%;
}
.controls {
	width:100%;
	height: 50px;
	padding-top: 10%;
}
.controls p {
	color:#bbbbbb;
	font-size: 20px;
}
/*Colors*/
.carousel-indicators {
}
.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #d93f33;
}
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #c5c5c5;
	border: 1px solid #c5c5c5;
	border-radius: 10px;
}
.quotedText {
	font: 300 1.5em/1.3em "Source Sans Pro";
	color: #3F3F41;
	background:url(../img/bkg_quotes.png) no-repeat bottom center;
	padding: 0 20px 40px;
}
.quoteName {
	font: 400 1.8em/.9em "Source Sans Pro";
	color: #000;
	text-align: left;
}
.quoteDetails {
	font: 300 1.6em/.9em "Source Sans Pro";
	text-align: left;
	color: #999;
}

/* Footer */

#footer container a {
	color:#c0c0c0;
}
#footer container a:hover {
	color:#fff;
}
.titleSocial {
	text-align: center;
	color:#fff;
	font: 300 1.1em "Source Sans Pro";
}
#socialIcons {
	width:100%;
	text-align: center;
}
#socialIcons a {
	text-decoration: none;
	color: #fff;
}
.lastLinks {
	padding-left: 15px;
}
.legalLinksBox {
	margin-top: 1.5em;
}
.menuFooter li {
	padding-bottom: 10px;
}
.menuFooter li a:link, .menuFooter li a:visited {
	color: gray;
	text-decoration:none;
	font: 300 1.1em "Source Sans Pro";
}
.menuFooter li a:hover, .menuFooter li a:active {
	color:#fff;
	text-decoration:none;
}
.lastLinks a {
	display: inline-block;
	color:gray;
	padding-left: 1.5em;
	font: 300 1.1em "Source Sans Pro";
}
.lastLinks a:link, .lastLinks a:visited {
	display: inline-block;
	color:# gray;
	text-decoration:none;
}
.lastLinks a:hover, .lastLinks a:active {
	display: inline-block;
	color:#fff;
	text-decoration:none;
}

/*  */
.scroll-top {
	position:fixed;
	bottom:0;
	right:2em;
	z-index:100;
	background: #0c4185;
	font-size: 1.2em;
}
.scroll-top li a:link, .scroll-top li a:visited {
	background: #0c4185;
}
.scroll-top li a:hover, .scroll-top li:active {
	background: #2365b0;
}
.scroll-top a:link, .scroll-top a:visited {
	color: #a5afd2;
}
.scroll-top a:hover, .scroll-top a:active {
	color: #fff;
}



/* Extra small devices (phones, less than 768px) */
@media(max-width:767px){

.actionButtons {
	text-align: center;
	margin-top: -1em;
	margin-bottom: 1em;
}
.actionButtons .btn {
	margin: 0 10px 0;
}

#lawSimpler {
	height: 580px;
	min-height: auto;
	padding: 80px 0;
}
#howWorks, #meetLawyers, #legalInformation, #solvereScoop, #allSet {
	padding: 60px 0;
}
#lawSimpler h3 {
	font: bold 1.7em montserratbold;
}
#howWorks h3, #meetLawyers h3, #legalInformation h3, #solvereScoop h3, #footer h3 {
	font: bold 1.6em montserratbold;
}
#allSet h3 {
	font: bold 2.4em montserratbold;
}
#lawSimpler p.lead, #howWorks p.lead, #meetLawyers p.lead, #legalInformation p.lead, #solvereScoop p.lead, #allSet p.lead  {
	font: 300 1.4em "Source Sans Pro";
}
#howWorks h3 span {
	font: 300 0.52em "Source Sans Pro";
	display: block;
	float: none;
	clear: both;
}
#solvereScoop h3 span {
	font: 300 0.52em "Source Sans Pro";
	display: block;
	float: none;
	clear: both;
}
#solvereScoop p.lead {
	clear: both;
}
#allSet {
	background: #818285 url(../img/bkg_section6.jpg) left top fixed;
}
/**/
.howWorksSteps .workSteps {
	margin-left: -20px;
}

.quotedText {
	font: 300 1.2em/1.3em "Source Sans Pro";
}
.quoteName {
	font: 300 1.6em/0.8em "Source Sans Pro";
}
.quoteDetails {
	font: 300 1.3em/0.8em "Source Sans Pro";
}
.contentLawyer {
	position: relative;
	margin-bottom: 20px;
}

.imgBot {
	margin-bottom: 20px;
}
.imgBot .contactAvailable button {   
	position: absolute;
	top: 6.5em;
	left: 20px;
	font-family: "Source Sans Pro";
}
.imgBot .contactUnavailable button {   
	position: absolute;
	float: left;
	top: 6.5em;
	left: 9px;
	font-family: "Source Sans Pro";
}
.textsImg {
	height: auto;
	overflow: auto;
	margin-bottom: 20px;
}
.textsImg img {
	width: 42%;
	margin-right: 7%;
	float: left;
}
.textsImg .quotedText {
	width: 50%;
	float: right;
	font-size: 1.1em;
}
p.titleSocial {
	text-align: center;
	clear: left;
}
#socialIcons {
	margin-left: 20%;
	margin: 0 auto;
}
.lastLinks {
	padding-left: 0;
}
.lastLinks a {
	padding-left: 0;
}
.lastLinks p {
	text-align: center;
}
.lastLinks .footerCredits {
	text-align: center;
	display: block;
}
.scroll-top {
	right:.5em;
}
.needHelp {
	width: 80%;
	height: 80%;
}


}


@media(min-width:481px){
#lawSimpler {
		height: 640px;
	}
#howWorks {
	padding: 150px 0 100px;
}

}


/* Small devices (tablets, 768px and up) */
@media(min-width:768px){

#nav.affix-top .navbar-nav {
	background-color: transparent;
}

#howWorks {
	padding: 320px 0 100px;
}

.actionButtons {
	text-align: center;
	margin-top: -2em;
	margin-bottom: 1em;
}
.actionButtons .btn {
	margin: 0 15px 0;
}
#lawSimpler {
	height: 800px;
}
#lawSimpler p.lead {
	font: 300 1.5em/1.6em "Source Sans Pro";
	margin-bottom: 1.4em;
}

#howWorks h3 {
	font: bold 2.7em montserratbold;
	text-align: center;
}
#howWorks h3 span {
	font: 300 .3em "Source Sans Pro";
}

#howWorks h3 span .btn-learnMore {
	margin-top: -20px;
}
#solvereScoop h3 {
	font: bold 3em montserratbold;
	display: inline-block;
}
#solvereScoop h3 span {
	font: 300 0.2em "Source Sans Pro";
}
#solvereScoop h3 span .btn-learnMore {
	margin-top: -30px;
}
#solvereScoop p.lead {
	clear: left;
}

p.titleSocial {
	text-align: center;
	clear: left;
}
#socialIcons {
	margin-left: 20%;
	margin: 0 auto;
}

}


/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){

#nav.affix-top .navbar-nav {
	background-color: transparent;
}

#lawSimpler {
	height: 720px;
	min-height: auto;
	padding: 80px 0;
}

#howWorks {
	padding: 180px 0 130px;
}

#meetLawyers, #solvereScoop {
	padding: 130px 0 120px;
}
 #legalInformation {
	padding: 120px 0 140px;
 }
 #allSet {
	padding: 130px 0;
}

/* Sections headings and paragraphs */
#lawSimpler h3, #legalInformation h3, #allSet h3, #footer h3 {
	font: bold 3.8em montserratbold;
}
#howWorks h3 {
	font: bold 3.625em montserratbold;
}
#howWorks h3 span {
	font: 300 0.22em "Source Sans Pro";
}

#howWorks h3 span .btn-learnMore {
	margin-top: -32px;
}
#solvereScoop h3 {
	font: bold 3em montserratbold;
}
#solvereScoop h3 span {
	font: 300 0.2em "Source Sans Pro";
}
#solvereScoop h3 span .btn-learnMore {
	margin-top: -30px;
}
#solvereScoop p.lead {
	clear: left;
}

section p {
	font-family: "Source Sans Pro";
}
#lawSimpler p.lead {
	font: 300 2.4em/1.6em "Source Sans Pro";
	margin-bottom: 1.4em;
}

#lawSimpler2 h3 {
	font: bold 3.8em montserratbold;
	color: #fff;
	text-transform:uppercase;
}
#lawSimpler2 p.lead {
	font: 400 2.35em/1.5em "Source Sans Pro";
	margin-bottom: 1.4em;
	color: #a5afd2;
}

#meetLawyers h3 {
	text-align: center;
	text-transform:uppercase;
	font: bold 2.65em montserratbold;
}

#legalInformation p.lead {
	font: 300 2.1em/1.6em "Source Sans Pro";
}
#allSet p.lead {
	font: 300 1.8em/1.6em "Source Sans Pro";
}
#footer p.lead {
	font: 300 1.8em/1.6em "Source Sans Pro";
}
#howWorks p.lead {
	color: gray;
	font: 300 2.4em/1.6em "Source Sans Pro";
}
#meetLawyers p.lead {
	color: gray;
	font: 300 2.1em/1.6em "Source Sans Pro";
}
.input-group input {
	font: 300 1.3em "Source Sans Pro";
}

.btn-learnMore {
	font-size: 1.4em;
}

.dataLawyer{
    padding-left:1em;
}
.dataLawyer p{    
    line-height: 1em;
}
.imgBot .contactAvailable button {   
	font-family: "Source Sans Pro";
}
.imgBot .contactUnavailable button {   
	font-family: "Source Sans Pro";
}
.titleSocial {
	font: 300 1.1em "Source Sans Pro";
}
.menuFooter li a:link, .menuFooter li a:visited {
	font: 300 1.1em "Source Sans Pro";
}
.lastLinks a {
	font: 300 1.1em "Source Sans Pro";
}
/*  */
.scroll-top {
	font-size: 1.2em;
	right: 0.2em;
}
.needHelp {
	width: 80%;
	height: 80%;
	margin-left: 30px;
}

}


/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){

}















