@charset "UTF-8";

/* Import Header */
@import url("header.css");

/* Import Footer */
@import url("footer.css");


/* Global font sityle */
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/Montserrat-Regular-webfont.eot');
    src: url('../fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/Montserrat-Bold-webfont.eot');
    src: url('../fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Bold-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
	font-family: "Source Sans Pro";
	font-weight:300;
}
p {
	color: #404041;
	font-family: "Source Sans Pro";
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.6em;
	text-transform: ;
}
h1 {
	color: #004185;
	font-family: montserratbold;
	font-size: 4em;
	font-weight: 300;
	text-transform: uppercase;
}
h2 {
	color: #8B8B8C;
	font-family: "Source Sans Pro";
	font-size: 2.15em;
	font-weight: 300;
	line-height: 25px;
 	text-transform: none;
}
h3 {
	color: #404041;
	font-family: "Source Sans Pro";
	font-size: 2em;
	font-weight:300;
	line-height: 2.3em;
	text-transform: none;
}
h4 {
	color: #404041;
	font-family: "Source Sans Pro";
	font-size: 1.7em;
	font-weight:400;
	line-height: 2.3em;
	text-transform: none;
}
h5 {
	color: #404041;
	font-family: "Source Sans Pro";
	font-size: 1.55em;
	font-weight:300;
	line-height: 2.2em;
	text-transform: none;
}
a {
	font-family: "Source Sans Pro";
	/*font-size: 19pt;*/
	font-weight: normal 400;
}

a:active {
    color: #2365B0;
}
/*
a:link {
	color: #004185;
}


a:visited {
	color: #004185;
}*/
a:hover {
	color: #D93F33;
}

header {
	height:100%;
	min-height:auto;
}
header h1 {
	margin-top: 50px;
}
.content {
	margin: 40px 0 100px;
	height: auto;
	min-height: 320px;
	display: block;
}



/* Navigation */
#topNav {
	z-index:-1;
}
#nav {
	width: 100%;
}
#nav.affix-top {
	position: absolute;
	top:0;
	left:0;
	z-index:10;
	height:auto;
	background-color: green;
	border:0;
}
#nav.affix-top .navbar-nav {
	background-color: #0c4185;
}
#nav.affix {
	position: fixed;
	top: 0;
	z-index:10;
	-webkit-transition: all .6s ease-in-out;
}
.navbar-inverse {
	background-color: #004185;
	border-bottom: 1px transparent;
}
.navbar-inverse .navbar-nav li a:link, .navbar-inverse .navbar-nav li a:visited {
	color: #a5afd2;
	font-family: "Source Sans Pro";
	font-weight:400;
	font-size: 1.1em;
}
.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:active {
	color: #fff;
	background: transparent;
}
.navbar-inverse .navbar-nav li.active a {
	color: #fff;
	background: transparent;
}
.navbar-inverse .navbar-nav li.active a:hover, .navbar-inverse .navbar-nav li.active a:active {
	color: #fff;
	background: transparent;
}
.navbar-inverse .navbar-brand img {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}
.navbar-inverse .navbar-nav li {
	padding-top: 9px;
	padding-bottom: 0;
}
.navbar-inverse .navbar-nav li.navButton {
	margin-left: 30px;
	padding-top: 15px;
	padding-bottom: 0;
}
.navbar-toggle {
	background: #0c4185;
	border: none;
}
.navbar-toggle:hover {
	background: #0c4185;
}

/* */
@media (min-width: 767px) {
.navbar-nav.nav-justified > li {
	float:none;
}
}
.navbar-nav {
	margin: 1px 1px;
}
.navbar-toggle {
	outline:0;
}
.divider {
	height:50px;
}
.panel {
	border-width:0;

}

/* Call-to-action buttons Box*/
.actionButtons {
	text-align: center;
	margin-top: 1em;
}


/* Buttons */

.btn-navJoin, .btn-navLogin {
	background: transparent;
	color: #a5afd2;
	border: solid 2px #a5afd2;
	margin: 0 -5px;
	font-size: 1.05em;
}
.btn-navJoin:hover, .btn-navJoin:focus, .btn-navJoin:active, .btn-navJoin.active, .btn-navLogin:hover, .btn-navLogin:focus, .btn-navLogin:active, .btn-navLogin.active {
	background: transparent;
	color: #fff;
	border: solid 2px #fff;
}
.btn-joinSolvere {
	padding: 20px 48px;
	background: #d93f33;
	color: #fff;
	font: 400 1.5em "Source Sans Pro";
}
.btn-joinSolvere:hover, .btn-joinSolvere:focus, .btn-joinSolvere:active, .btn-joinSolvere.active, .open .dropdown-toggle.btn-joinSolvere {
	background-color: #C3271B;
	border-color: #C3271B;
	color: #fff;
}
.btn-learnMore {
	padding: 8px 15px;
	font-size: 1.4em;
	background: none;
	color: #a5afd2;
	border: solid 2px #a5afd2;
}
.btn-seeMore {
	padding: 8px 15px;
	font-size: 1.4em;
	background: none;
	color: #2365AF;
	border: solid 2px #2365AF;
}
.btn-learnMore:hover, .btn-learnMore:focus, .btn-learnMore:active, .btn-learnMore.active, .open .dropdown-toggle.btn-learnMore {
	color: #004185;
	border: solid 2px #004185;
}
.btn-seeMore:hover, .btn-seeMore:focus, .btn-seeMore:active, .btn-seeMore.active, .open .dropdown-toggle.btn-seeMore {
	color: #004185;
	border: solid 2px #004185;
}


/* Progress Bar */
.bs-wizard {margin: 40px 0;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #004185; font-size: 1.35em; font-weight: 500; margin-bottom: -6px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #81B7FF; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #2365b0; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #81B7FF;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }


/* FORMS */
.form-group {
	margin-bottom: 30px;
}
label {
	color: #3F3F41;
	font-family: "Source Sans Pro";
	font-size: 1.35em;
	font-weight:400;
	line-height: 1.4em;
	text-transform: none;
}
label span {
	color: #8B8B8C;
	font-family: "Source Sans Pro";
	font-size: .8em;
	font-weight:300;
	line-height: 1.4em;
	text-transform: none;
	margin-left: .75em;
}
label.inputInstructions {
	font-weight:300;
}
p.inputInstructions {
	font-size: 1.1em;
}
.form-control {
	  border-radius: 0px;
}
.selectDropDown option {
	  font-size: 10px;
}


.selectDropDown .btn-primary {
 background: red;
}


/* BUTTONS */
.btn-primary.nextButton {
	background: #3660AF;
	border: solid 1px #3660AF;
	padding: 20px 100px;
	margin: 0 1em;
}
.btn-primary.nextButton:hover {
	background: #004185;
	border: solid 1px #004185;
}
.btn-default.backButton {
	background: #e1e1e1;
	border: solid 1px #e1e1e1;
	color: #666;
}
.btn-default.backButton:hover {
	background: #818285;
	border: solid 1px #818285;
	color: #ffffff;
}


/* DATE PICKER CALENDAR */
  /* Style the calendar custom widget */
  #date-range {
    position:relative;
  }
  #date-range-field {
    width: 100%;
    height: 34px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 1px solid #CCCCCC;
		padding-top: 3px;
  }
  #date-range-field a  {
    color: #3F3F41;
    background-color: #E1E1E1;
    text-align:center;
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 0;
    right: 0;
    text-decoration: none;
    padding-top: 4px;
  }
  #date-range-field span {
    font-weight: 400;
    color: #555;
    position: relative;
    top: 0;
    height: 26px;
    line-height: 26px;
    left: 5px;
    width: 250px;
    text-align: center;
  }
  #date-range-field a {
	font-size: 15px;
  }
  #datepicker-calendar {
    position: absolute;
    top: 33px;
    right: 0;
    overflow: hidden;
    width: 334px;
    height:162px;
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    display:none;
    padding:10px 0 0 10px;
		z-index: 100;
  }
.datepickerGoPrev span, .datepickerGoNext span {
	font-size: 16px;
	height: 20px;
	width: 20px;
}
.datepickerGoNext span {
}
.datepickerMonth {
	font-family: "Source Sans Pro";
	font-size: 1.2em;
}
.datepickerDays a {
	font-family: "Source Sans Pro";
	font-weight:400;
	font-size: 12px;
}
  /* Remove default border from the custom widget since we're adding our own. */
  #datepicker-calendar div.datepicker {
    background-color: transparent;
    border: none;
    padding: 0;
  }








/* Scroll to top button */
.scroll-top {
	position:fixed;
	bottom:0;
	right:2em;
	z-index:100;
	background: #0c4185;
	font-size: 1.2em;
}
.scroll-top li a:link, .scroll-top li a:visited {
	background: #0c4185;
}
.scroll-top li a:hover, .scroll-top li:active {
	background: #2365b0;
}
.scroll-top a:link, .scroll-top a:visited {
	color: #a5afd2;
}
.scroll-top a:hover, .scroll-top a:active {
	color: #fff;
}



#lawyerRegistration {
	
}
#lawyerSearch {

}

#lawyersSearchResults {
	margin-top: 2em;
}





#searchResultsFilters {
	margin-top: 2em;
}








/* Extra small devices (phones, less than 768px) */
@media(max-width:767px){

}


/* medium-small devices (phones, between 480 and 768px) */
@media(min-width:481px){

}


/* Small devices (tablets, 768px and up) */
@media(min-width:768px){

}


/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){

}


/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){

}


/*
 *   Choosen lang
 *
 */

.choose-lang {
    position: relative;
    margin-top: -20px;
    padding: 0 20px;
    margin-bottom: 8px;
    font-size: 12px;
}

.choose-lang .control-label {
    margin-right: 10px;
}

.choose-lang .form-control {
    width: 100px;
}

/* */
ul.dropdown-joinSolvere {
	width: 320px;
	padding: 20px;
}
ul.dropdown-joinSolvere .btn {
	margin: 0 20px;
    background-color: #2365b0;
    border-color: #2365b0;
}
.imClientButton {
	padding-top: 100px;
	display: inline-block;
	background: url(../img/bkg_imClientButton.jpg) no-repeat center top;
}
.imLawyerButton {
	padding-top: 100px;
	display: inline-block;
	background: url(../img/bkg_imLawyerButton.jpg) no-repeat center top;
}
.loginTitle {
	padding-left: 30px;
	background: url(../img/icn_login.jpg) no-repeat center left;
}
.form-group label {
	text-transform:uppercase;
	font-weight:600;
	font-size: 12px;
	font-family: "Source Sans Pro";
	font-size: 15px;
}
.forgotPsswd a {
	color: red;
}

.forgotPsswd a, .forgotPsswd a:hover {
	color: #006 !important;
	padding-top: 30px !important;
	font-size: 14px !important;
}


/*Style Color theme*/
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    background-color: #2365b0;
    border-color: #2365b0;
}
.btn-primary{
    background-color: #2365b0;
    border-color: #2365b0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color: #2365b0;
}
a{
    color: #2365b0;
}
.bootstrap-select .primary.dropdown-menu > li.active > a{
    background-color: #2365b0 !important;
}

.panel-body{
    padding:0;
}

.table{
    margin:0;
}