@charset "UTF-8";
/* CSS Document */

input[type=radio] {
		display:none;
}
input[type=radio] + label {
	display:inline-block;
	width: 80px;
	height: 80px;
	padding-top: 50px;
	margin-right: 20px;
	font-size: 1.2em;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: #E7E7E7;
	border: solid 2px #E7E7E7;
	border-radius: 5px;
	color: #004185;
}
input[type=radio] + label:hover {
	background: #E7E7E7;
	border: solid 2px #2365b0;
	color: #2365b0;
}
input[type=radio]:checked + label {
	background: #004185;
	border: solid 2px #004185;
	color: #fff;
}

input[type=radio].goodRating + label {
	background: #E7E7E7 url(../img/btn-goodRating.png) no-repeat center 10px;
}
input[type=radio].goodRating + label:hover {
	background: #E7E7E7 url(../img/btn-goodRating.png) no-repeat center 10px;
}
input[type=radio].goodRating:checked + label {
	background: #004185 url(../img/btn-goodRating_active.png) no-repeat center 10px;
	border: solid 2px #004185;
	color: #fff;
}

input[type=radio].fairRating + label {
	background: #E7E7E7 url(../img/btn-fairRating.png) no-repeat center 10px;
}
input[type=radio].fairRating + label:hover {
	background: #E7E7E7 url(../img/btn-fairRating.png) no-repeat center 10px;
}
input[type=radio].fairRating:checked + label {
	background: #004185 url(../img/btn-fairRating_active.png) no-repeat center 10px;
	border: solid 2px #004185;
	color: #fff;
}

input[type=radio].poorRating + label {
	background: #E7E7E7 url(../img/btn-poorRating.png) no-repeat center 10px;
}
input[type=radio].poorRating + label:hover {
	background: #E7E7E7 url(../img/btn-poorRating.png) no-repeat center 10px;
}
input[type=radio].poorRating:checked + label {
	background: #004185 url(../img/btn-poorRating_active.png) no-repeat center 10px;
	border: solid 2px #004185;
	color: #fff;
}
