@charset "UTF-8";
/* CSS Document */

.panel {
	border: solid 1px #CCC;
	border-radius: 10px;
	padding: 20px;
}
.panel-body h4 {
	line-height: 1.2em;
}
.sumaryLabel span {
	width: 8em;
	display: inline-block;
	margin-right: 1em;
	text-align: right;
}
.sumaryLabel strong {
	width: 6em;
}


div.radio {
	padding: 4px 8px;
}
div.radio:hover {
	background: #F8F8F8;
	padding: 4px 8px;
}
div.radio span {
	font-size: 1em;
	line-height: 1.2em;
	color: #404041;
	float: left;
	width: 350px;
	height: 25px;
}

div.radio small {
	font-size: 12px;
	line-height: 1em;
	color: transparent;
	float: right;
	width: 250px;
	height: 25px;
}
div.radio:hover small {
	color: #666;
}

.experienceRating .btn {
	width: 80px;
	height: 80px;
	background: #E7E7E7;
	border: solid 2px #E7E7E7;
	color: #004185;
	padding-top: 50px;
	font-size: .9em;
	font-weight: 600;
	margin-right: 20px;
}
.experienceRating .btn:hover {
	background: #E7E7E7;
	border: solid 2px #2365b0;
	color: #2365b0;
}
.experienceRating .goodRating {
	background: #E7E7E7 url(../img/btn-goodRating.png) no-repeat center 10px;
}
.experienceRating .goodRating:hover {
	background: #E7E7E7 url(../img/btn-goodRating.png) no-repeat center 10px;
}
.experienceRating .goodRating.active {
	background: #004185 url(../img/btn-goodRating_active.png) no-repeat center 10px;
	border: solid 2px #004185;
	color: #fff;
}

.experienceRating .fairRating {
	background: #E7E7E7 url(../img/btn-fairRating.png) no-repeat center 10px;
}
.experienceRating .fairRating:hover {
	background: #E7E7E7 url(../img/btn-fairRating.png) no-repeat center 10px;
}
.experienceRating .fairRating.active {
	background: #004185 url(../img/btn-fairRating_active.png) no-repeat center 10px;
	border: solid 2px #004185;
	color: #fff;
}

.experienceRating .poorRating {
	background: #E7E7E7 url(../img/btn-poorRating.png) no-repeat center 10px;
}
.experienceRating .poorRating:hover {
	background: #E7E7E7 url(../img/btn-poorRating.png) no-repeat center 10px;
}
.experienceRating .poorRating.active {
	background: #004185 url(../img/btn-poorRating_active.png) no-repeat center 10px;
	border: solid 2px #004185;
	color: #fff;
}
